* {
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
  box-sizing: border-box;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border: 2pz solid orange;
  box-shadow: 5px 10px 8px 10px #8a5050;
  width: 70%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 2% 2% 2%;
  height: auto;
}
.puzzleSize {
  align-self: center;
}
.size {
  display: grid;
  grid-column-start: 2;
  grid-row: 1;
}
.main {
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
}


.main{
  display: grid;
  grid-gap: 10px;
  margin-left: 10%;
  overflow: hidden;
  padding: 0;  
  width:70%;
  height: 576px;
  width: 576px;
  clear:both;
  margin-top: 5%;
  
}
.table {
  display: grid;
  grid-gap: 10px;
  margin-left: 10%;
  overflow: hidden;
  padding: 0;  
  height: 576px;
  width: 576px;
  margin-top: 5%;
  /* height: 100%;
  width:100%; */
  border: 2px solid black;
  position: absolute;
  clear:both;
  background-repeat:no-repeat;
}
.class11, .class12, .class13, .class21, .class22, .class23, .class31, .class32, .class33 {
  border: 1px solid white;
  cursor: pointer;
  grid-template-columns: repeat(auto-fit, 188px);
}
.class33 {
  background-color: #CCC;
  opacity:0.5;
}
.class11 { 
  /* display: grid;  */
  background-position: top left; 
  /* background-size: 564px 564px; */
  /* display: table-cell; */

}
.class12 {
 
  /* display: flex;  */
  background-position: top center; 
  /* background-size: 564px 564px;
  display: table-cell;
  min-height : 20px; */
}
.class13 {
  
  /* display: flex;  */
  background-position: right top;
  /* background-size: 564px 564px; */
  /* display: table-cell;
  min-height : 20px; */


}
.class21 {
 
  /* display: flex;  */
  background-position: center left; 
  /* background-size: 564px 564px; */
  /* display: table-cell;
  min-height : 20px; */

}
.class22 {
  
  /* display: flex;  */
  background-position: center center; 
  /* background-size: 564px 564px; */
  /* display: table-cell;
  min-height : 20px; */

}
.class23 {
  /* display: flex;  */
  background-position: center right; 
  /* background-size: 564px 564px;
  min-height : 20px;
  display: table-cell; */


}
.class31 { 
  /* display: flex;  */
  background-position: bottom left; 
  /* background-size: 564px 564px; */
  /* min-height : 20px;
  display: table-cell; */

}
.class32 {

  /* display: flex;  */
  background-position: bottom center; 
  /* background-size: 564px 564px; */
  /* min-height : 20px;
  display: table-cell; */

}
.class33 {

  /* display: flex;  */
  background-position: bottom right; 
  background-color: white;
  opacity:0.1;
  /* background-size: 564px 564px; */
  /* clear: both; */
  /* min-height : 20px;
  display: table-cell; */
}