* {
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
  box-sizing: border-box;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border: 2pz solid orange;
  box-shadow: 5px 10px 8px 10px #8a5050;
  width: 70%;
  margin-left: 20%;
  margin-top: 2%;
  padding: 1% 2% 2% 2%;
}
.puzzleSize {
  align-self: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  width: 40%;
  height: 40%,
}
.size {
  display: grid;
  grid-column-start: 2;
  grid-row: 1;
}
.imgH {
  grid-column-start: 2;
  grid-column-end: 2
}
.imgW {
  grid-column: 2;
}
.main{
  overflow: hidden;
  border: 2px solid black;
  width:100%;
  min-height: 172px;
  clear:both;
  
}
.table {
  background-image: url("../Documents/puzzle.jpeg");
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  min-height : 172px;
  clear:both;
  height: auto;
  width:100%;
  border: 1px solid white;
  position: absolute;
}
.row1, .row2, .row3{

}
.class11, .class12, .class13, .class21, .class22, .class23, .class31, .class32, .class33 {
  border: 1px solid white;
  cursor: pointer;
}
.class11 {
  top: 0px; 
  left: 0px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  display: table-cell;
  border: 2px solid black;

}
.class12 {
  top: 0px; 
  left: 172px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  display: table-cell;
  border: 2px solid blue;
  min-height : 20px;
}
.class13 {
  top: 0px; 
  left: 314px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  display: table-cell;
  min-height : 20px;
  border: 2px solid blue;


}
.class21 {
  top: 172px; 
  left: 0px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  display: table-cell;
  min-height : 20px;

}
.class22 {
  top: 172px; 
  left: 172px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  display: table-cell;
  min-height : 20px;

}
.class23 {
  top: 172px; 
  left: 314px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  min-height : 20px;
  display: table-cell;


}
.class31 {
  top: 314px; 
  left: 0px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  min-height : 20px;
  display: table-cell;

}
.class32 {
  top: 314px; 
  left: 172px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  min-height : 20px;
  display: table-cell;

}
.class33 {
  top: 314px; 
  left: 314px; 
  width: 172px; 
  height: 172px; 
  display: flex; 
  background-position: 0px 0px; 
  background-size: 516px 516px;
  clear: both;
  min-height : 20px;
  display: table-cell;

}